GROUP=alsjdakl
POM_DESCRIPTION=alsjdakl
POM_URL=alsjdakl
POM_SCM_URL=alsjdakl
POM_SCM_CONNECTION=alsjdakl
POM_SCM_DEV_CONNECTION=alsjdakl
POM_LICENCE_NAME=alsjdakl
POM_LICENCE_URL=alsjdakl
POM_LICENCE_DIST=alsjdakl
POM_DEVELOPER_ID=alsjdakl
POM_DEVELOPER_NAME=alsjdakl
POM_DEVELOPER_EMAIL=alsjdakl
ossrhUsername=alsjdakl
ossrhPassword=alsjdakl